<form #form="ngForm" autocomplete="off">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user"></i>
        </div>
      </div>
      <input maxlength="100" name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.CardOwnerName" type="text" class="form-control" placeholder="Card Owner Name" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-list-ol"></i>
        </div>
      </div>
      <input maxlength="16" name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.CardNumber" type="text" class="form-control" placeholder="16 Digit Card Number" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-hourglass-start"></i>
            </div>
          </div>
          <input maxlength="5" name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="service.ExpirationDate" type="text" class="form-control" placeholder="[MM/YY]" required/>
        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i class="far fa-closed-captioning"></i>
                </div>
              </div>
              <input maxlength="3" name="CVV" #CardOwnerName="ngModel" [(ngModel)]="service.CVV" type="password" class="form-control" placeholder="CVV" required/>
            </div>
          </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg btn-block">
      <i class="fas fa-database"></i> Submit
    </button>
  </div>
</form>